[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pytest = "*"
bs4 = "*"
websockets = "*"
asyncio = "*"
selenium = "*"
xvfbwrapper = "*"
python-dotenv = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.10"
